# put your secret key here
SECRET_KEY = secret_key-value-without-quotes
# set DEBUG to True for testing, False for actual use
DEBUG=True
# set ALLOWED_HOSTS ex. *.ku.th, localhost, 127.0.0.1, ::1
ALLOWED_HOSTS=localhost, 127.0.0.1
# set TIME_ZONE to your timezone
TIME_ZONE=Asia/Bangkok