{% extends "base.html" %}
{% block title %}
    KU Polls
{% endblock title %}

{% block body %}
    {% if user.is_authenticated %}
        <p>Welcome back, {{user.username.title}}</p>
    {% else %}
        Please Login to vote
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div role="alert" style="color: red;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h1>List of KU Polls Questions</h1>
    {% if latest_question_list %}
        <div class="polls">
            {% for question in latest_question_list %}
                <div class="question">
                    <h3>{{ forloop.counter }}. {{question.question_text}}</h3>
                    <a href="{% url 'polls:detail' question.id %}" 
                        style="text-decoration: none; 
                               color: black;">
                        <button>Vote</button>
                    </a>
                    <a href="{% url 'polls:results' question.id %}" 
                        style="text-decoration: none; 
                               color: black;">
                        <button>Results</button>
                    </a>
                </div>
                <br>
            {% endfor %}
        </div>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock body%}
